{% comment %}
(사용 중단됨 - 2026-09-22) 예전에는 게시판 페이지 왼쪽에 이 LNB 사이드바를
{% block lnb %}로 띄웠는데, 사용자 요청으로 없애고 대신 GNB에 마우스를 올리면
나오는 드롭다운 방식으로 바꿨습니다 (templates/partials/gnb.html 참고).
이 파일은 더 이상 어디에서도 include 되지 않습니다. 혹시 나중에 사이드바 방식이
다시 필요해지면 이 코드를 참고해서 되살릴 수 있도록 지우지 않고 남겨둡니다.
{% endcomment %}
<ul class="lnb-list">
    {% for item in gnb_items %}
    {% if item.children.all %}
    <li class="lnb-group">
        <span class="lnb-group-title">{{ item.name }}</span>
        <ul>
            {% for child in item.children.all %}
            <li><a href="{% url 'boards:post_list' child.slug %}">{{ child.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>
